# Ignore the raw FoodInsSeg dataset and images
computer-vision-training/FoodInsSeg/
computer-vision-training/**/*.jpg
computer-vision-training/**/*.jpeg
computer-vision-training/**/*.png
computer-vision-training/**/*.json

# Ignore generated YOLO labels
computer-vision-training/**/labels/
computer-vision-training/**/*.txt

# Ignore YOLO training runs and heavy AI models
computer-vision-training/runs/
computer-vision-training/runs/*.pt
computer-vision-training/runs/*.onnx
computer-vision-training/runs/*.hef
computer-vision-training/scripts/*.pt

# Ignore Python cache
__pycache__/
*.pyc
venv/
.env